.card{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 0.25rem .5rem #e6edef;

    .card-head{
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body{
        padding: 1rem 1.5rem;
    }
}

.custom-button{
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    display: flexbox;
 
    margin-top: 100px;
    margin-left: 20px;
    background: #686b5a;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px #686b5a;
    -moz-box-shadow: 0px 9px 15px -11px #686b5a;
    box-shadow: 0px 9px 15px -11px #686b5a;
} 

.custom-button-plus{
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    display: flexbox;
 
    margin-top: 100px;
    margin-left: 20px;
    background: #779663b6;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px #686b5a;
    -moz-box-shadow: 0px 9px 15px -11px #686b5a;
    box-shadow: 0px 9px 15px -11px #686b5a;
} 

.card-head:hover{
    cursor: pointer;
}

.footer{
    position: fixed;
    bottom: 2%;
}

button:hover{
    cursor: pointer;
}